<!DOCTYPE html>
<html>
  <head>
    <title>POWr rails test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://www.powr.io/powr.js"></script>
  </head>

  <body>
    <div class="powr­form­builder" id="unique­uuid"></div>
    <%= yield %>
  </body>
</html>
